@use './../base/mixins' as m;

.formulario-general {

    .background-form {
        position: relative;
        background-image: url('./../../build/img/student-849822_1280.webp');
        background-size: cover;
        width: 100%;
        height: 50rem;
        display: flex;
        align-items: center;
        justify-content: center;

        @include m.tablet {
            width: 50%;
            min-height: 100vh;
            height: 100%;
            
        }

        @include m.desktop {
            width: 70%;
        }
    
        // Agregar una capa de oscurecimiento
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }
    
        .logo-container {
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
    
            picture {
                display: block;
                width: 100%;
                max-width: 35rem;
    
                img {
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }
    
    .content-form-father {
        text-align: center;
        text-transform: uppercase;
        padding-top: 3rem;
        .btn-home {
            display: block;
            margin-top: 3rem;
        }
        h2 {
            text-transform: uppercase;
            color: brown;
        }
        .instituto {
            line-height: 1.5;
            font-size: 2rem;
        }
    }
    
    .formulario {
        background-color: #e2e8f0;
        padding: 2rem;
        border-radius: 2rem;
        width: 100%;
        max-width: 70rem;
        margin: 0 auto;
    
        .campo {
           font-size: 1.4rem;
           display: block;
           padding: 1rem; 
           width: 100%;
           label {
             display: flex;
             justify-content: flex-start;
             padding-bottom: .4rem;
           }
           input {
             padding: 1rem;
             width: 100%;
             border: none;
             border-radius: 1rem;
           }
        }

    }
    
    .acciones {
        display: flex;
        justify-content: space-around;
        margin-top: 3rem;
        a {
            padding-bottom: 3rem;
            font-size: 1.5rem;
            text-transform: capitalize;
            color: #475569;
        }
    }

    @include m.tablet {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    
    
    }    
    
    .register {
    
        .formulario-register {

            @include m.tablet {
                max-width: 100rem;
        
                .campos-flex {
                    display: flex;
                }
            }
        }
        
    
     }
    
    
    
}

