@use 'variables' as v;

*, *:before, *:after {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100vh;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    background-color: v.$background;
}
.contenedor {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
}
.contenedor-sm {
    width: 90%;
    max-width: 70rem;
    margin: 0 auto;
}

// boton

.div-btn {
    display: flex;
    justify-content: center;
}

.boton {
    margin-top: 1.6rem;
    width: 100%;
    max-width: 30rem;
    padding: .6rem;
    border-radius: 1rem;
    background-color: #7dd3fc;
    border: black 1px;
    transition: all ease 300ms;
    color: #475569;
    &:hover {
        cursor: pointer;
        background-color: #0369a1;
        color: white;
    }
}

.btn-margin {
    margin: 5rem auto;
}

a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.6rem;
    line-height: 1.8;
}

.contenido {
    margin-top: 7rem;
    margin-bottom: 0;
}

.error-404-content {

    display: grid;
    grid-template-rows: repeat(2, 1fr);

    .title-error-404 {
        text-align: center;
        margin-top: 5rem;
        font-size: 4rem;
        color: v.$red;
        text-transform: uppercase;
    }
    
    .mensaje-error-404 {
        text-align: center;
        font-size: 2rem;
        color: v.$orange;
        font-weight: 700
    }

}

.nombre-pagina {
    padding: 5rem 0;
    text-align: center;
    text-transform: uppercase;
}

.texto-pagina {
    font-size: 2rem;
    padding: 5rem 0;
    text-align: center;
    text-transform: uppercase;
}
