// Tamaño de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// colores
$white: #ffffff;
$background: #f1f5f9;
$black: #09090b;

$gray: #6b7280;
$gray-200: #e5e7eb;
$gray-400: #9ca3af;
$gray-700: #374151;

$red: #ef4444;
$red-200: #fecaca;
$red-400: #f87171;
$red-700: #b91c1c;

$blue: #3b82f6;
$blue-200: #bfdbfe;
$blue-400: #60a5fa;
$blue-700: #1d4ed8;